body{
	background-color: #f5f5f5;
}
.container{
	margin: auto;
	width:  60%;
	text-align: center;
}
.form-input{
	background-color: #fff;
	box-shadow: 4px 4px 4px #aaa;
	padding: 30px;
}
.form-input input{
	border: none;
	box-shadow: none;
	font-size: 25px

}
.form-input input:focus{
	box-shadow: none;
}
.font-input input::placeholder{
	opacity: 0.45;
}
.title{
	color: rgba(175,47,47,0.15);
	font-size: 80px;
}
.todo-list{
	background-color: #fff;
}